$colorBg: #dadada;
$colorText: #202020;
$bgHeader: rgb(62 74 118);
$colorBgDark: #202020;
$colorTextDark: #f5eeee;
$linkText: #5c62ec;

// toggle switcher

$switch-width: 60px;
$switch-height: 34px;
$circle-diameter: 26px;
$active-color: #1a4464;
$inactive-color: rgba(0, 0, 0, 0.322);
$transition-speed: 0.4s;
$sun-button: #f0ff6f;
$moon-button: #e9b629;